= content_for :head do
  = javascript_pack_tag 'vue'

= render("layouts/header")

%main#main-vue.main
  .container
    .row
      .col-12.mt-3
        %round{'round-url': group_rounds_path(format: :json),
               name: "Group stage"}