.skeleton-loading {
  position: relative;
  background-color: #e2e2e2;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  overflow: hidden;

  &.big {
    height: 100px;
  }

  &.medium {
    height: 45px;
    width: 50px;
  }

  &.small {
    height: 20px;
  }
}

/* The moving element */
.skeleton-loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(linear, left top,
          right top, from(rgba(255, 255, 255, 0)),
          color-stop(rgba(255, 255, 255, 0.2)),
          to(rgba(255, 255, 255, 0)));

  background: linear-gradient(90deg, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));

  /* Adding animation */
  animation: loading 1s infinite;
}

/* Loading Animation */
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
