= content_for :head do
  = javascript_pack_tag 'vue'

= render("layouts/header")

%main#main-vue.main
  .container
    .row
      .col-12.mt-3
        %next-match-day{'match-day-url': match_day_path(@match_day, format: :json)}